# DataFrames I

In [137]:
import pandas as pd

## Methods and Attributes between Series and DataFrames
- A **DataFrame** is a 2-dimensional table consisting of rows and columns.
- Pandas uses a `NaN` designation for cells that have a missing value. It is short for "not a number". Most operations on `NaN` values will produce `NaN` values.
- Like with a **Series**, Pandas assigns an index position/label to each **DataFrame** row.
- The **DataFrame** and **Series** have common and exclusive methods/attributes.
- The `hasnans` attribute exists only a **Series**. The `columns` attribute exists only on a **DataFrame**.
- Some methods/attributes will return different types of data.
- The `info` method returns a summary of the pandas object.

In [138]:
nba = pd.read_csv("nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
s = pd.Series([1, 2, 3, 4, 5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [140]:
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [141]:
# Metody head i tail działają jednakowo na seriach i ramkach
nba.head(n=8)

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
7,Mouhamed Gueye,Atlanta Hawks,F,6-11,210.0,Washington State,1119563.0

In [142]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [143]:
nba.index

RangeIndex(start=0, stop=592, step=1)

In [144]:
s.values

array([1, 2, 3, 4, 5], dtype=int64)

In [145]:
nba.values

array([['Saddiq Bey', 'Atlanta Hawks', 'F', ..., 215.0, 'Villanova',
        4556983.0],
       ['Bogdan Bogdanovic', 'Atlanta Hawks', 'G', ..., 225.0,
        'Fenerbahce', 18700000.0],
       ['Kobe Bufkin', 'Atlanta Hawks', 'G', ..., 195.0, 'Michigan',
        4094244.0],
       ...,
       ['Tristan Vukcevic', 'Washington Wizards', 'F', ..., 220.0,
        'Real Madrid', nan],
       ['Delon Wright', 'Washington Wizards', 'G', ..., 185.0, 'Utah',
        8195122.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [146]:
# shape zwraca kształ naszego obiektu (w tym przypadku jest to jednowymiarowa seria)
s.shape

(5,)

In [147]:
# w przypadku ramki otrzymujemy informację o 7-kolumnowej ramce na 592 wierszy
nba.shape

(592, 7)

In [148]:
s.dtypes

dtype('int64')

In [149]:
# w przypadku ramki otrzymujemy informację o typie każdej z kolumn
# jeżeli w kolumnie z liczbami całkowitymi występują NaN, to pandas konwertuje kolumnę na typ float64
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [150]:
# hasnans informuje czy występują w serii NaN - niedostępne dla ramek
s.hasnans

False

In [151]:
# columns zwraca nazwy kolumn ramki - niedostępne dla serii
nba.columns

Index(['Name', 'Team', 'Position', 'Height', 'Weight', 'College', 'Salary'], dtype='object')

In [152]:
# w przypadku serii axes zwraca indeksy wierszy
s.axes

[RangeIndex(start=0, stop=5, step=1)]

In [153]:
# w przypadku ramek otrzymujemy indeksy wierszy, ale również kolumn
nba.axes

[RangeIndex(start=0, stop=592, step=1),
 Index(['Name', 'Team', 'Position', 'Height', 'Weight', 'College', 'Salary'], dtype='object')]

In [154]:
# metoda info zwraca podsumowanie informacji na temat obiektu
s.info()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 172.0 bytes

In [155]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
dtypes: float64(2), object(5)
memory usage: 32.5+ KB

## Differences between Shared Methods
- The `sum` method adds a **Series's** values.
- On a **DataFrame**, the `sum` method defaults to adding the values by traversing the index (row values).
- The `axis` parameter customizes the direction that we add across. Pass `"columns"` or `1` to add "across" the columns.

In [156]:
revenue = pd.read_csv("revenue.csv", index_col="Date")
revenue

         New York  Los Angeles  Miami
Date
1/1/26        985          122    499
1/2/26        738          788    534
1/3/26         14           20    933
1/4/26        730          904    885
1/5/26        114           71    253
1/6/26        936          502    497
1/7/26        123          996    115
1/8/26        935          492    886
1/9/26        846          954    823
1/10/26        54          285    216

In [157]:
pd.Series([1, 2, 3])
s.sum()

15

In [158]:
# domyślnie metoda sum w ramce sumuje wartości w kolumnach
revenue.sum()

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [159]:
revenue.sum(axis="index") # domyślna opcja

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [160]:
# żeby utworzyć sumę w każdym wierszu ustawiamy parametr axis na "columns"
revenue.sum(axis="columns")

Date
1/1/26     1606
1/2/26     2060
1/3/26      967
1/4/26     2519
1/5/26      438
1/6/26     1935
1/7/26     1234
1/8/26     2313
1/9/26     2623
1/10/26     555
dtype: int64

In [161]:
# aby uzyskać sumę całości (wiersze+kolumny) używamy dwukrotnie funkcji sum
revenue.sum(axis="columns").sum()

16250

## Select One Column from a DataFrame
- We can use attribute syntax (`df.column_name`) to select a column from a **DataFrame**. The syntax will not work if the column name has spaces.
- We can also use square bracket syntax (`df["column name"]`) which will work for any column name.
- Pandas extracts a column from a **DataFrame** as a **Series**.
- The **Series** is a view, so changes to the **Series** *will* affect the **DataFrame**.
- Pandas will display a warning if you mutate the **Series**. Use the `copy` method to create a duplicate.

In [162]:
nba = pd.read_csv("nba.csv")
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [163]:
# odnosząc się do nazwy kolumny w ramce otrzymamy serię
# to rozwiązanie działa wyłącznie wtedy, gdy nazwa kolumny nie zawiewra spacji
nba.Team

0           Atlanta Hawks
1           Atlanta Hawks
2           Atlanta Hawks
3           Atlanta Hawks
4           Atlanta Hawks
              ...
587    Washington Wizards
588    Washington Wizards
589    Washington Wizards
590    Washington Wizards
591                   NaN
Name: Team, Length: 592, dtype: object

In [164]:
# seria jest widokiem oryginalnej ramki, więc zmiany w serii będą wpływać na ramkę
nba.Salary

0       4556983.0
1      18700000.0
2       4094244.0
3      20616000.0
4       2581522.0
          ...
587     1719864.0
588    10250000.0
589           NaN
590     8195122.0
591           NaN
Name: Salary, Length: 592, dtype: float64

In [165]:
nba.Name

0             Saddiq Bey
1      Bogdan Bogdanovic
2            Kobe Bufkin
3           Clint Capela
4         Bruno Fernando
             ...
587         Ryan Rollins
588        Landry Shamet
589     Tristan Vukcevic
590         Delon Wright
591                  NaN
Name: Name, Length: 592, dtype: object

In [166]:
type(nba.Name)

pandas.core.series.Series

In [167]:
# takie rozwiązanie jest lepsze, ponieważ działa również na nazwy kolumn ze spacjami
nba["Team"]

0           Atlanta Hawks
1           Atlanta Hawks
2           Atlanta Hawks
3           Atlanta Hawks
4           Atlanta Hawks
              ...
587    Washington Wizards
588    Washington Wizards
589    Washington Wizards
590    Washington Wizards
591                   NaN
Name: Team, Length: 592, dtype: object

In [168]:
names = nba["Name"]
names

0             Saddiq Bey
1      Bogdan Bogdanovic
2            Kobe Bufkin
3           Clint Capela
4         Bruno Fernando
             ...
587         Ryan Rollins
588        Landry Shamet
589     Tristan Vukcevic
590         Delon Wright
591                  NaN
Name: Name, Length: 592, dtype: object

In [169]:
names.iloc[0]

'Saddiq Bey'

In [170]:
# podczas zmiany otrzymujemy ostrzeżenie, że zmianiamy wartość również w obiekcie oryginalnym
names.iloc[0] = "Whatever"

C:\Users\makoniuc\AppData\Local\Temp\1\ipykernel_4256\4169610454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  names.iloc[0] = "Whatever"

In [171]:
names.head()

0             Whatever
1    Bogdan Bogdanovic
2          Kobe Bufkin
3         Clint Capela
4       Bruno Fernando
Name: Name, dtype: object

In [172]:
# ramka również posiada zmienioną wartość z poziomu serii
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Whatever,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [173]:
# żeby uniknąć zmiany wartości w ramce z poziomu serii tworzymy kopię za pomocą "copy"
nba = pd.read_csv("nba.csv")
names = nba["Name"].copy()

## Select Multiple Columns from a DataFrame
- Use square brackets with a list of names to extract multiple **DataFrame** columns.
- Pandas stores the result in a new **DataFrame** (a copy).

In [174]:
nba = pd.read_csv("nba.csv")
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [175]:
# gdy wybieramy kilka kolumn, to tworzymy kopię ramki i zmiany w niej nie mają wpływu na oryginalny obiekt
# ponieważ pandas nie może zapisać więcej, niż jednej kolumny jako serii, to musi zwrócić je w formie nowego obiektu
# nie ma limitu kolumn, które możemy w ten sposób wybrać
nba[["Name", "Team"]]

                  Name                Team
0           Saddiq Bey       Atlanta Hawks
1    Bogdan Bogdanovic       Atlanta Hawks
2          Kobe Bufkin       Atlanta Hawks
3         Clint Capela       Atlanta Hawks
4       Bruno Fernando       Atlanta Hawks
..                 ...                 ...
587       Ryan Rollins  Washington Wizards
588      Landry Shamet  Washington Wizards
589   Tristan Vukcevic  Washington Wizards
590       Delon Wright  Washington Wizards
591                NaN                 NaN

[592 rows x 2 columns]

In [176]:
# nazwy kolumn możemy przechowywać w zmiennej
columns_to_select = ["Salary", "Team", "Name"]
nba[columns_to_select]

         Salary                Team               Name
0     4556983.0       Atlanta Hawks         Saddiq Bey
1    18700000.0       Atlanta Hawks  Bogdan Bogdanovic
2     4094244.0       Atlanta Hawks        Kobe Bufkin
3    20616000.0       Atlanta Hawks       Clint Capela
4     2581522.0       Atlanta Hawks     Bruno Fernando
..          ...                 ...                ...
587   1719864.0  Washington Wizards       Ryan Rollins
588  10250000.0  Washington Wizards      Landry Shamet
589         NaN  Washington Wizards   Tristan Vukcevic
590   8195122.0  Washington Wizards       Delon Wright
591         NaN                 NaN                NaN

[592 rows x 3 columns]

## Add New Column to DataFrame
- Use square bracket extraction syntax with an equal sign to add a new **Series** to a **DataFrame**.
- The `insert` method allows us to insert an element at a specific column index.
- On the right-hand side, we can reference an existing **DataFrame** column and perform a broadcasting operation on it to create the new **Series**.

In [177]:
nba = pd.read_csv("nba.csv")
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [178]:
# żeby dodać nową kolumnę do ramki musimy zdefiniować jej wartości
# jeżeli będzie to pojedynczy string, to cała kolumna zostanie wypełniona tą wartością
nba["Sport"] = "Basketball"

In [179]:
nba

,Name,Team,Position,Height,Weight,College,Salary,Sport
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,Basketball
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,Basketball
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,Basketball
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,Basketball
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,Basketball
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,Basketball
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,Basketball
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,Basketball
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,Basketball
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Basketball

In [180]:
nba = pd.read_csv("nba.csv")
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [181]:
# w metodzie insert definiujemy indeks za pomocą parametru loc (w miejsce indeksu zostanie wstawiona nowa kolumna)
# metoda insert nie zastępuje istniejącej kolumny, ale wstawia obok nową
# parametrem column definiujemy nazwę nowej kolumny 
# parametrem value definiujemy warości, które chcemy wstawić w kolumnie
nba.insert(loc=3, column="Sport", value="Basketball")
nba

,Name,Team,Position,Sport,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,Basketball,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,Basketball,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,Basketball,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,Basketball,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,Basketball,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,Basketball,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,Basketball,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,Basketball,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,Basketball,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,NaN

In [182]:
nba["Salary"].mul(2)

0       9113966.0
1      37400000.0
2       8188488.0
3      41232000.0
4       5163044.0
          ...
587     3439728.0
588    20500000.0
589           NaN
590    16390244.0
591           NaN
Name: Salary, Length: 592, dtype: float64

In [183]:
# możemy dodać nową kolumnę podająć zdefiniowaną już serie z róznymi wartościami
nba["Salary Doubled"] = nba["Salary"].mul(2)
nba

,Name,Team,Position,Sport,Height,Weight,College,Salary,Salary Doubled
0,Saddiq Bey,Atlanta Hawks,F,Basketball,6-7,215.0,Villanova,4556983.0,9113966.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,Basketball,6-5,225.0,Fenerbahce,18700000.0,37400000.0
2,Kobe Bufkin,Atlanta Hawks,G,Basketball,6-5,195.0,Michigan,4094244.0,8188488.0
3,Clint Capela,Atlanta Hawks,C,Basketball,6-10,256.0,Elan Chalon,20616000.0,41232000.0
4,Bruno Fernando,Atlanta Hawks,F-C,Basketball,6-10,240.0,Maryland,2581522.0,5163044.0
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,Basketball,6-3,180.0,Toledo,1719864.0,3439728.0
588,Landry Shamet,Washington Wizards,G,Basketball,6-4,190.0,Wichita State,10250000.0,20500000.0
589,Tristan Vukcevic,Washington Wizards,F,Basketball,6-10,220.0,Real Madrid,NaN,NaN
590,Delon Wright,Washington Wizards,G,Basketball,6-5,185.0,Utah,8195122.0,16390244.0
591,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,NaN,NaN

In [184]:
nba["Salary"].sub(5000000)

0       -443017.0
1      13700000.0
2       -905756.0
3      15616000.0
4      -2418478.0
          ...
587    -3280136.0
588     5250000.0
589           NaN
590     3195122.0
591           NaN
Name: Salary, Length: 592, dtype: float64

In [185]:
nba["New Salary"] = nba["Salary"].sub(5000000)
nba

,Name,Team,Position,Sport,Height,Weight,College,Salary,Salary Doubled,New Salary
0,Saddiq Bey,Atlanta Hawks,F,Basketball,6-7,215.0,Villanova,4556983.0,9113966.0,-443017.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,Basketball,6-5,225.0,Fenerbahce,18700000.0,37400000.0,13700000.0
2,Kobe Bufkin,Atlanta Hawks,G,Basketball,6-5,195.0,Michigan,4094244.0,8188488.0,-905756.0
3,Clint Capela,Atlanta Hawks,C,Basketball,6-10,256.0,Elan Chalon,20616000.0,41232000.0,15616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,Basketball,6-10,240.0,Maryland,2581522.0,5163044.0,-2418478.0
...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,Basketball,6-3,180.0,Toledo,1719864.0,3439728.0,-3280136.0
588,Landry Shamet,Washington Wizards,G,Basketball,6-4,190.0,Wichita State,10250000.0,20500000.0,5250000.0
589,Tristan Vukcevic,Washington Wizards,F,Basketball,6-10,220.0,Real Madrid,NaN,NaN,NaN
590,Delon Wright,Washington Wizards,G,Basketball,6-5,185.0,Utah,8195122.0,16390244.0,3195122.0
591,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,NaN,NaN,NaN

## A Review of the value_counts Method
- The `value_counts` method counts the number of times that each unique value occurs in a **Series**.

In [186]:
nba = pd.read_csv("nba.csv")
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [187]:
# za pomocą metody value_counts użytej na serii możemy zbadać ilość wystąpień danego elementu w serii
nba["Team"].value_counts()

Team
Dallas Mavericks          23
Miami Heat                22
Denver Nuggets            22
Milwaukee Bucks           22
Memphis Grizzlies         22
Indiana Pacers            21
Utah Jazz                 21
Toronto Raptors           21
Philadelphia 76ers        21
Oklahoma City Thunder     21
New York Knicks           21
Washington Wizards        21
Phoenix Suns              20
Houston Rockets           20
Charlotte Hornets         20
San Antonio Spurs         20
Los Angeles Clippers      19
Minnesota Timberwolves    19
Detroit Pistons           19
Cleveland Cavaliers       19
Los Angeles Lakers        19
Chicago Bulls             19
Sacramento Kings          18
Orlando Magic             18
Boston Celtics            18
Atlanta Hawks             18
Portland Trail Blazers    17
Golden State Warriors     17
Brooklyn Nets             17
New Orleans Pelicans      16
Name: count, dtype: int64

In [188]:
# jeżeli chcemy zdefiniować ilość wystąpień w wartościach procentowych jako ułamki, to możemy wykorzystać parametr normalize=True
nba["Position"].value_counts(normalize=True)

Position
G      0.392123
F      0.320205
C      0.080479
G-F    0.078767
F-C    0.063356
C-F    0.039384
F-G    0.025685
Name: proportion, dtype: float64

In [189]:
nba["Position"].value_counts(normalize=True).mul(100)

Position
G      39.212329
F      32.020548
C       8.047945
G-F     7.876712
F-C     6.335616
C-F     3.938356
F-G     2.568493
Name: proportion, dtype: float64

In [190]:
# value_counts możemy również wykorzystywać na liczbach
nba["Salary"].value_counts()

Salary
559782.0      59
1119563.0     27
3196448.0     13
2019706.0      9
1719864.0      8
              ..
9600000.0      1
3536280.0      1
8809284.0      1
40806300.0     1
8195122.0      1
Name: count, Length: 298, dtype: int64

## Drop Rows with Missing Values
- Pandas uses a `NaN` designation for cells that have a missing value.
- The `dropna` method deletes rows with missing values. Its default behavior is to remove a row if it has *any* missing values.
- Pass the `how` parameter an argument of "all" to delete rows where all the values are `NaN`.
- The `subset` parameters customizes/limits the columns that pandas will use to drop rows with missing values.

In [191]:
nba = pd.read_csv("nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
# żeby usunąć wiersze z brakującymi wartościami (NaN) możemy wykorzystać metodę dropna
# nie ma znaczenia czy brkaująca wartość (NaN) występuje w jednej kolumnie, czy całym wierszu
nba.dropna()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [193]:
# jeżeli chcemy usunąć wyłącznie wiersze, które nie mają wartość w każdej kolumnie (cały wiersz pusty),
# to możemy wykorzystać parametr how="all" dla metody dropna
# wtedy kolumny z częściowo brakującymi wartościami nie zostaną usunięte
nba.dropna(how="all")

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [194]:
# jeżeli chcemy ograniczyć wyszukiwanie NaN do konkretnych kolumn, to możemy zdefiniwać parametr subset
nba.dropna(subset=["College"])  # w tym wypadku wiersz z wartościa NaN w kolumnie Salary nie zostanie usunięty

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [195]:
nba.dropna(subset=["Salary"])

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [196]:
# do subset możemy podawać więcej argumentów
nba.dropna(subset=["College", "Salary"])

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

## Fill in Missing Values with the fillna Method
- The `fillna` method replaces missing `NaN` values with its argument.
- The `fillna` method is available on both **DataFrames** and **Series**.
- An extracted **Series** is a view on the original **DataFrame**, but the `fillna` method returns a copy.

In [197]:
nba = pd.read_csv("nba.csv").dropna(how="all")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [198]:
# metoda fillna powoduje wypełnienie każdej NaN wartością podaną w argumencie
# nba tworzy nową kopię i w niej wypełnia NaN, oryginalny element pozostaje nienaruszony
nba.fillna(0)

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [199]:
# metodę fillna możemy wykorzystać również na serii
nba["Salary"].fillna(0)

0       4556983.0
1      18700000.0
2       4094244.0
3      20616000.0
4       2581522.0
          ...
586    27955357.0
587     1719864.0
588    10250000.0
589           0.0
590     8195122.0
Name: Salary, Length: 591, dtype: float64

In [200]:
# żeby zapisać zmiany w serii musimy wykorzystać widok serii
# w ten sposób nie nadpiszemy wartości Nan w nieodpowiednich kolumnach
nba["Salary"] = nba["Salary"].fillna(0)
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [201]:
# w tekstowym typie danych możemy nadpisać NaN za pomocą ciągu znaków
nba["College"] = nba["College"].fillna(value="Unknown")

In [202]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

## The astype Method I
- The `astype` method converts a **Series's** values to a specified type.
- Pass in the specified type as either a string or the core Python data type.
- Pandas cannot convert `NaN` values to numeric types, so we need to eliminate/replace them before we perform the conversion.
- The `dtypes` attribute returns a **Series** with the **DataFrame's** columns and their types.

In [203]:
nba = pd.read_csv("nba.csv").dropna(how="all")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [204]:
# żeby przekonwertować wartości z danej kolumny na liczby całkowite, musimy pozbyć się z niej NaN
nba["Salary"] = nba["Salary"].fillna(0)
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [205]:
# dtypes informuje nas o aktualnych typach dla poszczególnych kolumn
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [206]:
# żeby przekonwetować kolumnę na dany typ wykorzystujemy metodę astype
# argumentem, który musimy podać jest typ, na który konwertujemy (możemy go podać w "" lub bez)
# tym sposobem tworzymy kopię oryginalnego obiektu
nba["Salary"].astype("int")
nba["Salary"].astype(int)

0       4556983
1      18700000
2       4094244
3      20616000
4       2581522
         ...
586    27955357
587     1719864
588    10250000
589           0
590     8195122
Name: Salary, Length: 591, dtype: int32

In [207]:
# standardowo możemy zmienić wartości w oryginalnym obiekcie
nba["Salary"] = nba["Salary"].astype("int")

In [208]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122

In [209]:
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary        int32
dtype: object

In [210]:
nba["Weight"] = nba["Weight"].fillna(0)
nba["Weight"] = nba["Weight"].astype("int")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215,Villanova,4556983
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225,Fenerbahce,18700000
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195,Michigan,4094244
3,Clint Capela,Atlanta Hawks,C,6-10,256,Elan Chalon,20616000
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240,Maryland,2581522
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194,Michigan,27955357
587,Ryan Rollins,Washington Wizards,G,6-3,180,Toledo,1719864
588,Landry Shamet,Washington Wizards,G,6-4,190,Wichita State,10250000
589,Tristan Vukcevic,Washington Wizards,F,6-10,220,Real Madrid,0
590,Delon Wright,Washington Wizards,G,6-5,185,Utah,8195122

## The astype Method II
- The `category` type is ideal for columns with a limited number of unique values.
- The `nunique` method will return a **Series** with the number of unique values in each column.
- With categories, pandas does not create a separate value in memory for each "cell". Rather, the cells point to a single copy for each unique value.

In [211]:
nba = pd.read_csv("nba.csv").dropna(how="all")
nba.tail()

,Name,Team,Position,Height,Weight,College,Salary
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [212]:
# nunique zwraca ilość unikalnych rekordów w kolumnie
nba["Team"].nunique()

30

In [213]:
# gdy wywołujemy metodę na ramcę, to otrzymujemy wartości dla każdej z kolumn
# ta metoda może nam wskazić najlepszą kolumnę do zdefiniowania kategorii (najmniejsza liczba unikalnych wartości)
nba.nunique()

Name        591
Team         30
Position      7
Height       20
Weight       93
College     182
Salary      298
dtype: int64

In [214]:
# bez zdefiniowanych kolumn nasze zużycie pamięci wynosi 36,9 KB
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
dtypes: float64(2), object(5)
memory usage: 36.9+ KB

In [215]:
nba["Position"] = nba["Position"].astype("category")

In [216]:
# powyższą metodą zredukowaliśmy zużycie pasmięci do 33,2 KB
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    category
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
dtypes: category(1), float64(2), object(4)
memory usage: 33.2+ KB

In [217]:
nba["Team"] = nba["Team"].astype("category")

In [218]:
# bez zdefiniowanych kolumn nasze zużycie pamięci wynosi 30,5 KB
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    category
 2   Position  584 non-null    category
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
dtypes: category(2), float64(2), object(3)
memory usage: 30.5+ KB

In [219]:
# konwersja ns string
nba["Team"] = nba["Team"].astype("str")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [220]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    category
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
dtypes: category(1), float64(2), object(4)
memory usage: 33.2+ KB

## Sort a DataFrame with the sort_values Method I
- The `sort_values` method sorts a **DataFrame** by the values in one or more columns. The default sort is an ascending one (alphabetical for strings).
- The first parameter (`by`) expects the column(s) to sort by.
- If sorting by a single column, pass a string with its name.
- The `ascending` parameter customizes the sort order.
- The `na_position` parameter customizes where pandas places `NaN` values.

In [221]:
nba = pd.read_csv("nba.csv")
nba.tail()

,Name,Team,Position,Height,Weight,College,Salary
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [222]:
# metoda sort_values sortuje serię w kolejności rosnącej
nba["Name"].sort_values()

122        A.J. Lawson
324           AJ Green
6           AJ Griffin
141       Aaron Gordon
198      Aaron Holiday
            ...
83         Zach LaVine
149         Zeke Nnaji
291    Ziaire Williams
370    Zion Williamson
591                NaN
Name: Name, Length: 592, dtype: object

In [223]:
# sort_values w przypadku ramki nie zadziała bez argumentów, ponieważ musimy zdefiniować przynajmniej jedną kolumnę do sortowania
# parametr by definiuje kolumny, na podstawie których chcemy sortować
nba.sort_values(by="Name")

,Name,Team,Position,Height,Weight,College,Salary
122,A.J. Lawson,Dallas Mavericks,G,6-6,179.0,South Carolina,NaN
324,AJ Green,Milwaukee Bucks,G,6-5,190.0,Northern Iowa,1901769.0
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
141,Aaron Gordon,Denver Nuggets,F,6-8,235.0,Arizona,22266182.0
198,Aaron Holiday,Houston Rockets,G,6-0,185.0,UCLA,2346614.0
...,...,...,...,...,...,...,...
83,Zach LaVine,Chicago Bulls,G,6-5,200.0,UCLA,40064220.0
149,Zeke Nnaji,Denver Nuggets,F-C,6-9,240.0,Arizona,4306281.0
291,Ziaire Williams,Memphis Grizzlies,F,6-9,185.0,Stanford,4810200.0
370,Zion Williamson,New Orleans Pelicans,F,6-6,284.0,Duke,34005250.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [224]:
# możemy również sortować w kolejności descending
# domyślnie pandas umieszcza wartości NaN na końcu (niezależnie od kierunku sortowania)
nba.sort_values(by="Salary", ascending=False)

,Name,Team,Position,Height,Weight,College,Salary
175,Stephen Curry,Golden State Warriors,G,6-2,185.0,Davidson,51915615.0
461,Kevin Durant,Phoenix Suns,F,6-10,240.0,Texas,47649433.0
436,Joel Embiid,Philadelphia 76ers,C-F,7-0,280.0,Kansas,47607350.0
145,Nikola Jokic,Denver Nuggets,C,6-11,284.0,Mega Basket,47607350.0
261,LeBron James,Los Angeles Lakers,F,6-9,250.0,St. Vincent-St. Mary HS (OH),47607350.0
...,...,...,...,...,...,...,...
547,Gary Trent Jr.,Toronto Raptors,G-F,6-5,209.0,Duke,NaN
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,NaN
584,Kendrick Nunn,Washington Wizards,G,6-3,190.0,Oakland,NaN
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
# za pomocą parametru na_position możemy zdefiniować, czy wartości NaN mają pojawić się na początku/końcu
nba.sort_values(by="Salary", ascending=False, na_position="first")

,Name,Team,Position,Height,Weight,College,Salary
23,Blake Griffin,Boston Celtics,F,6-9,250.0,Oklahoma,NaN
26,Mfiondu Kabengele,Boston Celtics,C,6-10,250.0,Florida State,NaN
28,Svi Mykhailiuk,Boston Celtics,G-F,6-7,205.0,Kansas,NaN
35,Robert Williams III,Boston Celtics,C-F,6-9,237.0,Texas A&M,NaN
39,Nic Claxton,Brooklyn Nets,C,6-11,215.0,Georgia,NaN
...,...,...,...,...,...,...,...
336,Lindell Wigginton,Milwaukee Bucks,G,6-1,189.0,Iowa State,559782.0
143,Jay Huff,Denver Nuggets,C,7-1,240.0,Virginia,559782.0
244,Jordan Miller,Los Angeles Clippers,G,6-7,194.0,Miami,559782.0
147,Braxton Key,Denver Nuggets,F,6-8,225.0,Virginia,559782.0
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0

## Sort a DataFrame with the sort_values Method II
- To sort by multiple columns, pass the `by` parameter a list of column names. Pandas will sort in the specified column order (first to last).
- Pass the `ascending` parameter a Boolean to sort all columns in a consistent order (all ascending or all descending).
- Pass `ascending` a list to customize the sort order *per* column. The `ascending` list length must match the `by` list.

In [226]:
nba = pd.read_csv("nba.csv")
nba.tail()

,Name,Team,Position,Height,Weight,College,Salary
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [227]:
# możemy również sortować po kilku kolumnach, ale podajemy w parametrze listę kolumn
# jest to sortowanie sekwencyjne i wpisujemy kolejne kolumny zgodnie z sekwencją sortowania
# główne sortowanie jest na podstawie kolumny "Team", a następnie kolejne na podstawie kolumny "Name"
nba.sort_values(by=["Team", "Name"])

,Name,Team,Position,Height,Weight,College,Salary
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
8,De'Andre Hunter,Atlanta Hawks,F-G,6-8,221.0,Virginia,20089286.0
...,...,...,...,...,...,...,...
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,NaN
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
580,Tyus Jones,Washington Wizards,G,6-2,196.0,Duke,14000000.0
573,Xavier Cooks,Washington Wizards,F,6-8,183.0,Winthrop,1719864.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [228]:
# jeżeli chcemy sortować różne kolumny w różnych kolejnościach, to w parametrze ascending podajemy listę wartości True/False
nba.sort_values(by=["Team", "Name"], ascending=[True, False])

,Name,Team,Position,Height,Weight,College,Salary
12,Wesley Matthews,Atlanta Hawks,G,6-5,220.0,Marquette,3196448.0
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0
17,Trae Young,Atlanta Hawks,G,6-1,164.0,Oklahoma,40064220.0
10,Seth Lundy,Atlanta Hawks,G,6-6,220.0,Penn State,559782.0
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
...,...,...,...,...,...,...,...
576,Daniel Gafford,Washington Wizards,F-C,6-10,234.0,Arkansas,12402000.0
581,Corey Kispert,Washington Wizards,F,6-6,224.0,Gonzaga,3722040.0
574,Bilal Coulibaly,Washington Wizards,G,6-6,195.0,Metropolitans 92,6614256.0
579,Anthony Gill,Washington Wizards,F,6-8,230.0,Virginia,1997238.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [229]:
# sortowanie jest wykonywane na kopii oryginalnego obiektu
nba.sort_values(by=["Position", "Salary"], ascending=[True, False])

,Name,Team,Position,Height,Weight,College,Salary
145,Nikola Jokic,Denver Nuggets,C,6-11,284.0,Mega Basket,47607350.0
344,Rudy Gobert,Minnesota Timberwolves,C,7-1,258.0,Cholet,41000000.0
453,Deandre Ayton,Phoenix Suns,C,7-0,250.0,Arizona,32459438.0
329,Brook Lopez,Milwaukee Bucks,C,7-1,282.0,Stanford,25000000.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
...,...,...,...,...,...,...,...
299,Caleb Daniels,Miami Heat,NaN,NaN,NaN,NaN,1119563.0
541,Kevin Obanor,Toronto Raptors,NaN,6-8,235.0,NaN,1119563.0
564,Nick Ongenda,Utah Jazz,NaN,NaN,NaN,NaN,1119563.0
15,Miles Norris,Atlanta Hawks,NaN,NaN,NaN,NaN,559782.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [230]:
# jeżeli chcemy sortowanie zapisać w oryginalnym obiekcie, to musimy użyć przypisania
nba = nba.sort_values(by=["Position", "Salary"], ascending=[True, False])
nba

,Name,Team,Position,Height,Weight,College,Salary
145,Nikola Jokic,Denver Nuggets,C,6-11,284.0,Mega Basket,47607350.0
344,Rudy Gobert,Minnesota Timberwolves,C,7-1,258.0,Cholet,41000000.0
453,Deandre Ayton,Phoenix Suns,C,7-0,250.0,Arizona,32459438.0
329,Brook Lopez,Milwaukee Bucks,C,7-1,282.0,Stanford,25000000.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
...,...,...,...,...,...,...,...
299,Caleb Daniels,Miami Heat,NaN,NaN,NaN,NaN,1119563.0
541,Kevin Obanor,Toronto Raptors,NaN,6-8,235.0,NaN,1119563.0
564,Nick Ongenda,Utah Jazz,NaN,NaN,NaN,NaN,1119563.0
15,Miles Norris,Atlanta Hawks,NaN,NaN,NaN,NaN,559782.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Sort a DataFrame by its Index
- The `sort_index` method sorts the **DataFrame** by its index positions/labels.

In [231]:
nba = pd.read_csv("nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [232]:
# jeżeli chcemy posortować ramkę na podstawie kolumny z indeksami, to możemy wykorzystać funkcję sort_index
# jeżeli nasz indeks to kolumna z datami, to zostanie posortowana według dat
nba.sort_values(["Team", "Name"]).sort_index()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [233]:
# możemy rownież sortować w kolejności descending za pomocą parametru
nba.sort_index(ascending=False)

,Name,Team,Position,Height,Weight,College,Salary
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
...,...,...,...,...,...,...,...
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0

In [234]:
nba = nba.sort_index(ascending=False)
nba

,Name,Team,Position,Height,Weight,College,Salary
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
...,...,...,...,...,...,...,...
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0

## Rank Values with the rank Method
- The `rank` method assigns a numeric ranking to each **Series** value.
- Pandas will assign the same rank to equal values and create a "gap" in the dataset for the ranks.

In [235]:
nba = pd.read_csv("nba.csv")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [236]:
nba["Salary"] = nba["Salary"].fillna(0).astype("int")
nba["Salary"]

0       4556983
1      18700000
2       4094244
3      20616000
4       2581522
         ...
587     1719864
588    10250000
589           0
590     8195122
591           0
Name: Salary, Length: 592, dtype: int32

In [237]:
# jeżeli chcemy utworzyć ranking na podstawie zdefiniowanych wartości, to możemy wykorzystać metodę rank
# metoda rank zwróci nam kolumnę z miejscem pracownika w rankingu
nba["Salary"].rank()

0      362.0
1      513.0
2      350.0
3      524.0
4      285.0
       ...
587    198.5
588    453.0
589     52.5
590    430.0
591     52.5
Name: Salary, Length: 592, dtype: float64

In [238]:
# jeżeli wykorzystamy parametr ascending=False, to ranking zostanie zdefiniowany w kolejności descending (od największych do najmniejszych)
# możemy zwrócić te wartości jako liczby całkowite
nba["Salary"].rank(ascending=False).astype("int")

0      231
1       80
2      243
3       69
4      308
      ...
587    394
588    140
589    540
590    163
591    540
Name: Salary, Length: 592, dtype: int32

In [239]:
# ranking możemy dodać jako kolejna kolumnę
nba["Salary Rank"] = nba["Salary"].rank(ascending=False).astype("int")
nba

,Name,Team,Position,Height,Weight,College,Salary,Salary Rank
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983,231
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000,80
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244,243
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000,69
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522,308
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864,394
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000,140
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0,540
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122,163
591,NaN,NaN,NaN,NaN,NaN,NaN,0,540

In [240]:
# jeżeli jakieś rekordy z rankingu będą mieć te same wartości, to powstaje remis i wartość rankingowe się powtarzają
nba.sort_values(by="Salary", ascending=False).head(10)

,Name,Team,Position,Height,Weight,College,Salary,Salary Rank
175,Stephen Curry,Golden State Warriors,G,6-2,185.0,Davidson,51915615,1
461,Kevin Durant,Phoenix Suns,F,6-10,240.0,Texas,47649433,2
436,Joel Embiid,Philadelphia 76ers,C-F,7-0,280.0,Kansas,47607350,4
261,LeBron James,Los Angeles Lakers,F,6-9,250.0,St. Vincent-St. Mary HS (OH),47607350,4
145,Nikola Jokic,Denver Nuggets,C,6-11,284.0,Mega Basket,47607350,4
456,Bradley Beal,Phoenix Suns,G,6-4,207.0,Florida,46741590,6
239,Paul George,Los Angeles Clippers,F,6-8,220.0,Fresno State,45640084,8
241,Kawhi Leonard,Los Angeles Clippers,F,6-7,225.0,San Diego State,45640084,8
480,Damian Lillard,Portland Trail Blazers,G,6-2,195.0,Weber State,45640084,8
316,Giannis Antetokounmpo,Milwaukee Bucks,F,7-0,243.0,Filathlitikos,45640084,8